.nav-logo {
  background: url("../img/logo.png");
  height: 30px;
  width: 30px;
  background-size: contain;
  border-radius: 40%;
}

.nav-item {
  margin-left: 2rem;
  margin-right: 2rem;
}

.header {
  margin-left: 0;
  position: sticky;
  top: 0;
  background-color: rgba(239, 243, 243, 0.8);
  width: 100vw;
  min-width: 1200px;
  height: 50px;
  z-index: 999;
}

.hero-2 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 10px;
}
.hero-2 button {
  width: 6rem;
}

.main-hero {
  height: 800px;
  width: 100vw;
  min-width: 1200px;
  background: url("../img/img-1.png") no-repeat center center/cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10rem;
  text-align: left;
}
.main-hero h1 {
  font-size: 4rem;
  background: linear-gradient(65deg, rgb(145, 190, 234), rgb(224, 224, 231));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-hero span {
  color: white;
  align-items: center;
  font-size: 2rem;
}

.card {
  width: 100vw;
  min-width: 1200px;
  height: 200px;
  background: url("../img/img-2.png") no-repeat center center/cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-2 {
  width: 100vw;
  min-width: 1200px;
  height: 940px;
  background: url("../img/img-3.jpg") no-repeat center center/cover;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-3 {
  width: 100vw;
  min-width: 1200px;
  height: 733.5px;
  background: url("../img/img-4.jpg") no-repeat center center/cover;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-4 {
  height: 200px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.8;
  color: gray;
  background: linear-gradient(to bottom, rgb(51, 49, 49), black);
}
.card-4 h1 {
  font-size: 4rem;
}
.card-4 p {
  font-size: 3rem;
  letter-spacing: 8px;
  color: white;
}

.card-5 {
  height: 350px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  position: relative;
}
.card-5 .card-5-para-1 {
  position: absolute;
  top: 30px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}
.card-5 h1 {
  background: linear-gradient(to right, rgb(242, 116, 6), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 600;
}
.card-5 .card-5-para-2 {
  position: absolute;
  bottom: 30px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.card-6 {
  width: 100vw;
  min-width: 1200px;
  height: 484px;
  background: url("../img/img-6.png") no-repeat center center/cover;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-7 {
  height: 500px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  position: relative;
}
.card-7 .card-7-head {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.card-7 .card-7-head .head1 {
  margin-right: 5rem;
}
.card-7 .card-7-head .head1 h1 {
  background: linear-gradient(65deg, rgb(145, 190, 234), rgb(224, 224, 231));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-7 .card-7-head .head2 {
  margin-left: 5rem;
}
.card-7 .card-7-head .head2 h1 {
  background: linear-gradient(65deg, rgb(145, 190, 234), rgb(224, 224, 231));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-7 .card-7-main-head {
  background: linear-gradient(to right, rgb(242, 116, 6), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 600;
  margin: 40px 0;
}
.card-7 p {
  font-size: 20px;
  font-weight: 400;
}

.card-8 {
  width: 100vw;
  min-width: 1200px;
  height: 527.83px;
  background: url("../img/img-7.jpg") no-repeat center center/cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot {
  height: 250px;
  width: 100vw;
  background-color: rgb(22, 27, 39);
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.foot ul, .foot a {
  display: block;
  padding: 5px;
  color: rgb(194, 192, 192);
  font-size: 0.85rem;
}
.foot ul a:hover, .foot a a:hover {
  cursor: pointer;
  color: white;
}
.foot ul {
  margin-top: 20px;
}
.foot P {
  color: white;
  font-weight: bold;
}

.icon-dv {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 15px;
  position: absolute;
  right: 50px;
}
.icon-dv p {
  margin-left: 15px;
}
.icon-dv .icon {
  display: flex;
  gap: 20px;
  font-size: 2rem;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */